.pnt-contenedor-de-tabla {
    padding-top: 70px;
}

.pnt-navbar {
    background-color: #00cc7a;
    font-family: "Verdana", Geneva, sans-serif;
    text-align: center;
}

.pnt-errorinput {
    padding-top: 0px;
    margin-top: 0px;
}
